@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Noto+Sans:wght@300;500&display=swap');

$body-font-family: 'News Cycle', arial;
$heading-font-family: 'Noto Sans', serif; 

$background-color: #f8f3eb;
$contrast-background-color: #b08a67;
$footer-color:#251b0f;

$font-color-dark: #251b0f;
$font-color-light: #f8f3eb;

$primary-accent: #ffadad;
$secondary-accent: #95bddf;
