@import './_common.scss';

.footer {
    background-color: $footer-color;
    position: relative;
    align-items: center;
    height: auto;
    width: 100%;
    bottom: 0;

    .logo {
        margin-right: 2em;
        padding: 1em;
        max-width: 80%;
        min-width: 300px;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }

        .socials {
            display: flex;
            justify-content: space-between;
            width: 30%;
            margin-left: 1em;

            img {
                width: 2em;
                height: 2em;
                color: none;
                transition: 1s;

                &:hover{
                   opacity: .6; 
                   transform: translate(0, .2em);
                }
            }
        }
    }

    .award {
        margin-right: 2em;
        padding-right: 2em;
        max-width: 80%;

        img {
            height: 200px;
            width: 200px;
            object-fit: contain;
        }
    }

    .copyright {
        font-family: $body-font-family;
        color: $font-color-light;
        padding: 2em;
        text-align: center;
    }

    .copyrightText {
        font-size: 12px;
    }

    .footerContainer {
        margin-top: 3em;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .questions {
            padding: 1em;
            margin-right: 1em;
            width: 20%;

            h3{
                font-size: 1em;
                width: 80%;
                font-family: $heading-font-family;
                color: $font-color-light;
                font-weight: 500;
                white-space: nowrap;
            }

            .linksContainer {
                display: flex;
                flex-direction: column;

                .searchLink {
                    text-decoration: none;
                    font-size: 12px;
                    color: $font-color-light;
                    transition: .5s;
                    // position:absolute;
                    justify-content: space-around;

                    &:hover {
                        color: $contrast-background-color;
                        transform: translate(1em, 0);
                    }
                }
            }


        }

        .email {
            
            // font-family: $heading-font-family;
            // font-size: 14px;
            width: 20%;
            padding: 1em;
            margin-left: 1em;
            margin-right: 4em;

            h3{
                font-size: 1em;
                font-family: $heading-font-family;
                color: $font-color-light;
                font-weight: 500;
                max-width: 80%;
                white-space: nowrap;
            }

            .emailInput {
                height: 2em;
                width: 100%;
                margin-top: 1em;
                padding: .5em;
                padding-left: 1em;
                color: $font-color-light;
                transition: .8s;
                border: 3px solid $font-color-light;
                background-color: $footer-color;

                &::placeholder {
                    color: $font-color-light;
                    font-family: $body-font-family;
                }

                &:focus {
                    border: 3px solid $secondary-accent;
                    outline: none;

                    &::placeholder {
                        color: transparent;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
    .footerContainer {
      flex-direction: column;
      align-items: center;

      .logo {
        margin-right: 0;
        min-width: 70%;
        text-align: center;

        .socials {
          width: 100%;
          margin-left: 0;
          margin-top: 2rem;
        }
      }

      .award {
        margin-right: 0;
        padding-right: 0;
        max-width: 100%;
        text-align: center;
      }

      .questions {
        width: 80%;
        padding: 1em;
        margin-right: 0;
        text-align: center;

        h3 {
          width: 100%;
        }

        .linksContainer {
          justify-content: center;
        }
      }

      .email {
        width: 80%;
        padding: 1em;
        margin-left: 0;
        margin-right: 0;
        text-align: center;

        h3 {
          width: 100%;
        }
      }
    }
  }
}


