@import './_common.scss';

.footer {
    background-color: $footer-color;
    position:relative;
    align-items: center;
    height: auto;
    width: 100%;
    bottom: 0;

    .logo {
        margin-right: 2em;
        padding: 1em;
        max-width: 80%;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }

        .socials {
            display: flex;
            justify-content: space-between;
            width: 30%;
            margin-left: 1em;

            img {
                width: 2em;
                height: 2em;
                color: none;
                transition: 1s;

                &:hover{
                   opacity: .6; 
                   transform: translate(0, .2em);
                }
            }
        }
    }

    .award {
        margin-right: 2em;
        padding-right: 2em;
        max-width: 80%;

        img {
            height: 200px;
            width: 200px;
            object-fit: contain;
        }
    }

    .copyright {
        font-family: $body-font-family;
        font-size: 12px;
        color: $font-color-light;
        padding: 2em;
        text-align: center;
    }

    .footerContainer {
        margin-top: 3em;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .questions {
            color: $font-color-light;
            font-family: $heading-font-family;
            font-size: 14px;
            padding: 1em;
            margin-right: 1em;

            .linksContainer {
                display: flex;
                flex-direction: column;

                .searchLink {
                    text-decoration: none;
                    font-size: 12px;
                    color: $font-color-light;
                    transition: .5s;
                    // position:absolute;
                    justify-content: space-around;

                    &:hover {
                        color: $contrast-background-color;
                        transform: translate(1em, 0);
                    }
                }
            }


        }

        .email {
            color: $font-color-light;
            font-family: $heading-font-family;
            font-size: 14px;
            width: 20%;
            padding: 1em;
            margin-left: 1em;
            margin-right: 4em;

            .emailInput {
                height: 2em;
                width: 100%;
                margin-top: 1em;
                padding: .5em;
                padding-left: 1em;
                color: $font-color-light;
                transition: .8s;
                border: 3px solid $font-color-light;
                background-color: $footer-color;

                &::placeholder {
                    color: $font-color-light;
                    font-family: $body-font-family;
                }

                &:focus {
                    border: 3px solid $secondary-accent;
                    outline: none;

                    &::placeholder {
                        color: transparent;
                    }
                }
            }
        }
    }
}