@import './_common.scss';

.nav {
  background-color: #f8f3eb;

  .navContainer {
    position: relative;
    display: flex;
    align-items: center;

    .logo {
      max-width: 100%;
      width: 100px;
      margin-top: 4rem;
      padding-top: 0.5rem;
      padding-left: 1rem;
    }

    .linksContainer {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .navButton {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 8px;
        margin-right: 10px;

        &:hover {
          text-decoration: underline;
        }
      }

      .menuIcon {
        display: none;
        font-size: 24px;
        margin-left: auto;
        margin-right: 16px;
        cursor: pointer;
      }
    }
  }

  .navTopBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: #ffadad;
    z-index: 999;
  }
}

.navName {
  padding-left: 1rem;
}

.navButton {
  border: none;
  text-decoration: underline;
  font-family: 'Noto Sans', sans-serif;
  color: rgb(37, 27, 15);
  font-size: 23px;
  letter-spacing: -1px;
  margin-right: 10px;
  margin-top: 5rem;
}

.mobileNav {
  display: none;
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: calc(100% - 64px);
  z-index: 3;
}
